[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
tomlkit = "*"
requests-oauthlib = "*"
"beautifulsoup4" = "*"
regex = "*"
tldextract = "*"
click = "*"
pixivpy = "*"
tabulate = "*"
validators = "*"
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
requests-toolbelt = "*"

[dev-packages]
python-language-server = {extras = ["pyflakes", "rope"],version = "*"}
isort = "*"
ptpython = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
