[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
tomlkit = "*"
slumber = "*"
requests-oauthlib = "*"
"beautifulsoup4" = "*"
regex = "*"
tldextract = "*"
click = "*"
psycopg2-binary = "*"
pixivpy = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.7"
